.btn{
     background: linear-gradient(red, rgb(197, 240, 5), blue, green);
    color: none;
    border-radius: 10px;
    transition: 0.4s;
    padding: 20px 25px;
}
.btn:hover{
    background-color: bleu;
    transform: scale(1.5);
}
h1{
    color: rgb(184, 49, 12);
    text-align: center;
}
p{
    color: rgb(13, 10, 0);
    text-align: center;
}
body{
    text-align: center;
     background: url("AHO.jpg");
     font-size: 200%;
}