.btn{
     background: linear-gradient(red, gray, blue, green);
    color: none;
    border-radius: 10px;
    transition: 0.4s;
    padding: 20px 25px;
}
.btn:hover{
    background-color: bleu;
    transform: scale(1.5);
}
img{
    width: 320px;
    height: 200px;
}
body{
    color: rgb(238, 243, 240);
    text-align: center;
    font-weight: 900;
    background: url("geo.jpg");
}
.fade{
    
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
    from {
       opacity: 0; 
    }
    to{
        opacity: 1;
    }
}